<div class="container-fluid">
    <div class="top-nav"> 
        <a href="/login"><h3>Home</h3></a>
    </div>

    <div id="welcome-msg">
        <p>Hello, {{user.name}}!</p>
        <p>{{user.msg}}</p>
    </div>

    <div id="links">
        {{#each user.links}}
        <br>
        <a href="{{url}}">
            <!-- <img src="{{img}}" width="200" heigh="200"> -->
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4"><button type="button" class="btn btn-info btn-block">{{text}}</button></div>
                <div class="col-md-4"></div>
            </div>
        </a>
        {{/each}}
    </div>

</div>