<div class="container-fluid">
    <div class="top-nav row">
        <div class="col-md-1"><a href="{{backlink.url}}"><h3>Back</h3></a></div>
        <div class="col-md-10"><a href="/login"><h3>Home</h3></a></div>
    </div>

    {{#each photos}}
    <div class="imgcaption">
        <div class="img-block" style="height:{{height}}px; width:{{width}}px">
          <img src="{{url}}" class="img-responsive" class="img hashtag-img">
          <div class="caption" style="height:{{height}}px; width:{{width}}px"><br>{{caption}}</div>
        </div>

        <div class="like-button" style="width:{{width}}px"><img src="img/heart.png"></div>
    </div> 

    {{/each}}
</div>
